
body {
    background-color: #fff;
    margin-top: 20px;
    padding: 40px;
}


.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #008000;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 40px;
}
.card-body{
    justify-content: center;
    margin: 10px;
}

.list-group-item a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.list-group-item a:hover {
    background-color: #008000;
    color: #fff;
}
.mt-1{
    color: grey;
}
.ui-w-80 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.ui-w-80 img {
    max-width: 100%;
    max-height: 100%;
}


label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #008000;
    background: transparent;
    color: #008000;
}


.form-label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #008000;
}

.form-group {
    /*margin: auto;*/
    margin-bottom: 25px;
}
.form-control {
    margin-top: 8px;
    margin-right: 30px;
    width: 100%;
    padding: 10px;
    border: 1px solid #008000;
    border-radius: 5px;
    background-color: #fff;
}


.alert.alert-warning {
    margin-top: 10px;
    background-color: #ffffff;
    color: black;
}
.alert.alert-warning a{

    padding: 3px;
    border-radius: 1px;
}

.text-right {
    text-align: right;
}

.btn-primary {
    padding: 5px;
    border-radius: 5px;
    background-color: #008000;
    color: #fff;
    border: black;
}

.btn-default {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #008000;
    border: none;
}


.btn:hover {
    opacity: 0.5;
    background-color: black;
    color: #fff;
}
