body {
    background-color: #f7f7f7;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    margin-top: 200px;

}

.card {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 40px;
    width: 1000px;
}

.card-body {
    justify-content: center;
    margin: 10px;
}


.text2-page-user{
    margin: 6px 0;
}
.line{
    width: 800px;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}
.col-left{
    display: inline-block;
    line-height: 2.6;

}

.col{
    float: left;
    padding-left:10px;
    padding-right: 10px;
   
}
.col-title{
    width: 130px;
    text-align: right;
}
.col-left{
    width: 100%;
}
.row{
    margin-left: 30px;
    display: inline-block;
   
}
.clear{
    clear: both;
}
.content-user-page{
    display: flex;
}
.line-vertical {
    width: 1px;
    height: 169px;
    background-color: #ccc;
    margin: 0 66px;
}
input[type="text"] {
    height: 33px;
    width: 281px;
    padding: 0 84px;
}

.mt-1 {
    color: grey;
}

.ui-w-80 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.ui-w-80 img {
    max-width: 100%;
    max-height: 100%;
}

.btn-primary {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #008000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-default {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #008000;
    border: 1px solid #008000;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}
.tab-pane{
    margin-top: 10px;
}

.sex {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
  }
  
  /* Hide the browser's default radio button */
  .sex input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 12px;
  }
  .sub-col p{
    margin-left: -10px;
  }
  
  /* On mouse-over, add a grey background color */
  .sex:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .sex input:checked ~ .checkmark {
    background-color: green;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .sex input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  /* .sex .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  } */
  select {
    width: 70px;
    height: 33px;
}
.confim {
    margin-left: 177px;
    margin-top: 30px;
}
.avai-change{
    margin-left: 6px;
    /* text-decoration: none; */
   
}
 .menu-user-page{
    display:inline-block;
    margin-top: -280px;
    /* line-height: 1.8; */
    margin-left: 3%;
   
}
.menu-user-page .row{
    margin: 10px 0;
}
.line-user-page{
    width: 180px;
    height: 1px;
    background-color: #ccc;
}
.container .list-infor{
    line-height: 1.3;
    margin-left: 22px;
}
.container .content-infor{
    margin-left: -10px;
    margin-top: 0px;

}

.container .content-user{
    margin-top: 25px;
    margin-left: -10px;
    margin-bottom: 8px;
}
.container .text-cart{
    margin-left: -5px;
}
.menu-user-page a{
    text-decoration: none;
    color: #000;
}
.menu-user-page a:hover{
    color: #fa461e;
}
