body {
    background-color: #f7f7f7;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 40px;
}

.card-body {
    justify-content: center;
    margin: 10px;
}

.list-group-item a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item a:hover {
    background-color: #008000;
    color: #fff;
}

.mt-1 {
    color: grey;
}

.ui-w-80 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.ui-w-80 img {
    max-width: 100%;
    max-height: 100%;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #008000;
    background: transparent;
    color: #008000;
}

.form-label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #008000;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
    border: 1px solid #008000;
    border-radius: 5px;
    background-color: #fff;
}

.alert.alert-warning {
    margin-top: 10px;
    background-color: #fff;
    color: #000;
}

.alert.alert-warning a {
    padding: 3px;
    border-radius: 1px;
}

.text-right {
    text-align: right;
}

.btn-primary {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #008000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-default {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #008000;
    border: 1px solid #008000;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}
.tab-pane{
    margin-top: 10px;
}
