*{
    box-sizing: border-box;
}

body{
    background: url(https://inspgr.id/app/uploads/2015/07/photography-derek-kind-02.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Cambria Math", sans-serif;
    overflow: hidden;
    height: 100vh;
}
h1{
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0;
    text-shadow: 0 0 10px rgba(16,64,74, 0.5);
}
h1.title{

}
p{
    font-size: 45px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    text-shadow: 0 0 10px rgba(16,64,74, 0.5);
}