body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: #fff;
}

.terms {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    text-align: left;
    margin-bottom: 15px;
}
.btn {
    max-width: 100%;
    background: green;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 15px;
    transition: background 0.3s, color 0.3s;
}

.btn:hover {
    background: #ff4500;
    color: white;
}
.terms ol {
    list-style-position: outside;
    padding-left: 20px;
}

.terms li {
    text-align: left;
}