<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/login_styles.css">
    <title>Đăng nhập</title>
</head>
<body>
<div class="container" id="container">
    <div class="sign-in-form">
        <form action="#">
            <h1>ĐĂNG NHẬP</h1>
            <div class="input-box">
                <label><span class="icon"><i class="far fa-envelope"></i></span> <strong>Email</strong></label>
                <label for="email"></label><input type="email" placeholder="Nhập email..." id="email" required>
            </div>
            <div class="input-box">
                <label><span class="icon"><i class="fas fa-key"></i></span><strong>Mật khẩu</strong></label>
                <label for="password"></label><input type="password" placeholder="Nhập mật khẩu..." id="password" required>
            </div>
            <div class="input-remember-checkbox">
                <label><input type="checkbox">Ghi nhớ tài khoản</label>
                <a href="password_reset.html">Quên mật khẩu?</a>
            </div>
            <button type="submit" class="btn">Đồng ý</button>
            <div class="login-register">
                <p>Chưa có tài khoản? <a href="register.html">Đăng ký</a></p>
            </div>
        </form>
    </div>

</body>
</html>

