<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="styles/password_reset.css">
  <title>Khôi phục mật khẩu</title>
</head>
<body>
<div class="container" id="container">
  <div class="password-reset-form">
    <form action="#">
      <h1>Khôi phục mật khẩu</h1>
      <div class="input-box">
        <label><span class="icon"><i class="far fa-envelope"></i></span> <strong>Email</strong></label>
        <label for="email"></label><input type="email" placeholder="Nhập email..." id="email" required>
      </div>
      <div class="h" ><p>Gửi email khôi phục mật khẩu hoặc quay lại đăng nhập</p></div>
      <div class="button-container">
        <button type="submit" class="btn">Gửi đến Email</button>
        <button type="button" class="btn" onclick="window.location.href='login.html'">Quay lại đăng nhập</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
