<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/user_info_styles.css">
    <link rel="stylesheet" href="images/icons/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Thông tin người dùng</title>
</head>
<body>
<!--Header Section--><header class="header">
    <div class="nav-bar top-bar">
        <div class="web-name" style="font-weight: bold"> Trung Tâm Cây Giống Nông Lâm</div>
        <nav class="list">
            <ul>
                <li>
                    <a href="#" class="tooltip ti-help"> Hỗ Trợ
                        <span class="tooltiptext">Hỗ Trợ</span></a>
                </li>
                <li>
                    <a href="#" class="tooltip ti-time"> 8:00 - 17:00
                        <span class="tooltiptext">8:00 - 17:00</span></a>
                </li>
                <li>
                    <a href="#" class="tooltip ti-mobile"> 0929729120
                        <span class="tooltiptext">0929729120</span></a>
                </li>
                <li>
                    <a href="#" class="tooltip ti-facebook">
                        <span class="tooltiptext">Theo dõi chúng tôi</span></a>
                </li>
                <li>
                    <a href="https://mail.google.com" class="tooltip ti-email">
                        <span class="tooltiptext">Đóng góp ý kiến</span></a>
                </li>
                <li>
                    <button class="sign-up-button">
                        <a href="register.html">Đăng Ký</a>
                    </button>
                    /
                    <button class="login-button">
                        <a href="login.html">Đăng nhập</a>
                    </button>
                </li>

            </ul>
        </nav>
    </div>

    <div class="nav-bar middle-bar row">
        <div class="col">
            <a href="#"><img src="images/header/logo.png" alt="logo" class="logo" style="width: 100px"></a>
        </div>
        <div class="col">
            <form>
                <label>
                    <input placeholder="Tìm kiếm...">
                </label>
                <button type="submit" class="search-button"><i class="ti ti-search"></i></button>
            </form>
        </div>
        <div class="col">
            <button class="cart-button">
                <i class="ti-shopping-cart">0.000đ</i>
            </button>
        </div>
    </div>
</header>
<ul id="nav" class="back-dark-green">
    <li>
        <a href="#">
            <i class="nav-menu ti-menu"></i>
            DANH MỤC SẢN PHẨM
        </a>
        <!--        <ul class="sub-nav">-->
        <!--            <li><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                CÂY ĂN TRÁI-->
        <!--            </a></li>-->
        <!--            <a href="#">-->
        <!--            </a>-->
        <!--            <li><a href="#"></a><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                CÂY CÓ HOA-->
        <!--            </a></li>-->
        <!--            <a href="#">-->
        <!--            </a>-->
        <!--            <li><a href="#"></a><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                CÂY HOA LEO-->
        <!--            </a></li>-->
        <!--            <a href="#">-->
        <!--            </a>-->
        <!--            <li><a href="#"></a><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                CÂY CÂY CẢNH-->
        <!--            </a></li>-->
        <!--            <a href="#">-->
        <!--            </a>-->
        <!--            <li><a href="#"></a><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                CÂY LỚN-->
        <!--            </a></li>-->
        <!--            <a href="#">-->
        <!--            </a>-->
        <!--            <li><a href="#"></a><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                CÂY ĐỘC LẠ - HIẾM-->
        <!--            </a></li>-->
        <!--            <a href="#">-->
        <!--            </a>-->
        <!--            <li><a href="#"></a><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                CÂY BONSAI-->
        <!--            </a></li>-->
        <!--            <a href="#">-->
        <!--            </a>-->
        <!--            <li><a href="#"></a><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                CÂY GIỐNG-->
        <!--            </a></li>-->
        <!--            <a href="#">-->
        <!--            </a>-->
        <!--            <li><a href="#"></a><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                HOA LAN-->
        <!--            </a></li>-->
        <!--            <a href="#">-->
        <!--            </a>-->
        <!--            <li><a href="#"></a><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                HOA LAN CÂY GIỐNG-->
        <!--            </a></li>-->
        <!--            <a href="#">-->
        <!--            </a>-->
        <!--            <li><a href="#"></a><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                PHÂN BÓN-VẬT TƯ-->
        <!--            </a></li>-->
        <!--            <a href="#">-->
        <!--            </a>-->
        <!--            <li><a href="#"></a><a href="#">-->
        <!--                <i class="ti-control-play"></i>-->
        <!--                SẢN PHẨM KHUYẾN MÃI-->
        <!--            </a></li>-->
        <!--        </ul>-->
    </li>
    <li class="nav-togethger"><a href="#"></a><a href="#">TRANG CHỦ</a></li>
    <li class="head-nav nav-togethger"><a href="gioi_thieu.html" class="nav-togethger">GIỚI THIỆU</a></li>
    <li class="nav-togethger"><a href="#">SẢN PHẨM</a></li>
    <li class="nav-togethger"><a href="huong-dan.html">HƯỚNG DẪN MUA HÀNG</a></li>
    <li class="nav-togethger"><a href="stock-news.html">TIN TỨC</a></li>
</ul>
<!--body section-->
    <div class="container">
        <div class="card overflow-hidden">
            <div class="row">
                <div class="col-left">
                    <div class="list-group-item">
                    </div>
                </div>
                <div class="tab-pane fade active show" id="account-general">
                    <div class="card-body">
                        <img src="images/avt.png" height="750" width="600" alt="avt" class="d-block ui-w-80">
                        <br>
                        <div class="media-body ml-4">
                            <label class="btn btn-outline-primary">
                                Tải lên ảnh mới
                                <input type="file" class="account-settings-fileinput">
                            </label> &nbsp;
                            <div class="text-light small mt-1">Chọn ảnh có định dạng JPG, GIF or PNG. Lớn nhất là 800</div>
                        </div>
                    </div>
                    <hr class="border-light m-0">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Tên người dùng</label>
                            <label>
                                <input type="text" class="form-control mb-1" value="Elizabeth Sokavok">
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Tên</label>
                            <label>
                                <input type="text" class="form-control" value="Eliza">
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="form-label">E-mail</label>
                            <label>
                                <input type="text" class="form-control mb-1" value="eliza@mail.com">
                            </label>
                            <div class="alert alert-warning mt-3">
                                Email của bạn chưa được xác nhận.<br>
                                <a href="javascript:void(0)">Gửi lại</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Địa chỉ</label>
                            <label>
                                <input type="text" class="form-control" value="Company Ltd.">
                            </label>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <div class="form-group">
                            <label class="form-label">Mật khẩu hiện tại</label>
                            <label>
                                <input type="password" class="form-control">
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Mật khẩu mới</label>
                            <label>
                                <input type="password" class="form-control">
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Nhập lại mật khẩu mới</label>
                            <label>
                                <input type="password" class="form-control">
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-right mt-3">
                <button type="button" class="btn btn-primary">Lưu thay đổi</button>&nbsp;
                <button type="button" class="btn btn-default">Quay lại</button>
            </div>
        </div>
    </div>
<!--Footer Section-->
<footer>
    <div class="row">
        <div class="col">
            <h3>Giới Thiệu</h3>
            <p>Điểm đến lý tưởng cho những người yêu đam mê và đang tìm kiếm cây giống nông nghiệp chất lượng cao. Với
                mục tiêu hỗ trợ và nâng cao năng suất trong nông nghiệp.</p>
        </div>
        <div class="col">
            <h3>Văn phòng</h3>
            <p>Khu phố 6, Phường Linh Trung, TP. Thủ Đức, TP. Hồ Chí Minh</p>
            <p class="email-id">nls@hcmuaf.edu.vn</p>
            <p>028-38974560</p>
        </div>
        <div class="col">
            <h3>Thông Tin</h3>
            <ul>
                <li><a href="#">Trang Chủ</a></li>
                <li><a href="gioi_thieu.html">Giới Thiệu</a></li>
                <li><a href="#">Sản Phẩm</a></li>
                <li><a href="huong-dan.html">Hướng Dẫn Mua Hàng</a></li>
                <li><a href="stock-news.html">Tin Tức</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Nhận Email Thông Báo</h3>
            <form>
                <i class="ti ti-email"></i>
                <label>
                    <input type="email" placeholder="Nhập email của bạn..." required="">
                </label>
                <button type="submit"><i class="ti ti-arrow-right"></i></button>
            </form>
            <nav class="socials">
                <a href="#" class="tooltip ti-facebook">
                    <span class="tooltiptext">Theo Dõi Chúng Tôi</span>
                </a>
                <a href="#" class="tooltip ti-mobile">
                    <span class="tooltiptext">0929729120</span>
                </a>
                <a href="https://mail.google.com" class="tooltip ti-email">
                    <span class="tooltiptext">Đóng Góp Ý Kiến</span>
                </a>
            </nav>
        </div>
    </div>
</footer>
</body>
</html>
